@mixin transition {
    color: whitesmoke;
    border: none;
    border-radius: 4px;
    transition-duration: 0.5s;
}
@mixin effect{
    color: whitesmoke
}
.formLayout{
    display: flex;
    flex-wrap: wrap;
    .formDiv{
        flex:100%;
        .formInput{
            font-size: 20px;
            border-style:solid;
            border-width: 2px;
            border-color: rgb(113, 91, 173);
            padding: 5px 5px;
            margin: 0px 20px 20px 0px;
        }
        .formLabel{
            flex: 100%;
        }
        
        .alert{
            padding: 8px 8px;
            border: 1px solid rgb(238, 209, 209);
            border-radius: 2px;
            background-color: rgb(238, 209, 209);
            color: rgb(175, 9, 9);
            flex:50%;
            margin: 0px 70% 20px 0px;
        }
        input.ng-invalid{
            border-left: 5px solid red;
        }
        input.ng-valid{
            border-left: 5px solid green;
        }
    }
    .button{
        padding: 10px 10px;
        float:left;
        clear: left;
        @include transition();
        background-color: #296402;
        margin: 0px 20px 0px 0px;
    }
    button[disabled]{
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
    }
    .button:hover{
        cursor: pointer;
    }
}