@mixin transition {
    color: whitesmoke;
    border: none;
    border-radius: 4px;
    transition-duration: 0.5s;
}
@mixin effect{
    background-color: rgb(204, 103, 35);//#428515;
}
.layout{
    height: 100vh;
    background: linear-gradient(to bottom, #bca1c4 0%, rgb(190, 204, 171) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.formLayout{
    padding: 15px 15px 15px 15px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: white;
    .formDiv{
        min-width: 300px;
        padding: 10px 10px 10px 10px;
        label{
            font-size: 20px;
        }
        .textField{
            position: relative;
        }
        input[type=email], input[type=password]{
            font-size: 15px;
            border: none;
            background-color: whitesmoke;
            border: none;
            width: -webkit-fill-available;
            margin-top: 10px;
            padding: 15px 0px 15px 15px;
        }
        input[type=email]:focus, input[type=password]:focus{
            background-color: #e2dddd;;
        }
        .alert{
            position: absolute;
            right: 5%;
            top: 40%;
            color: rgb(175, 9, 9);
        }
    }
    .buttonDiv{
        margin-top:20px;
    }
    button{
        padding: 10px 10px;
        @include transition();
        background-color: #a75509;//#296402;
        margin: 0px 10px 0px 10px;
    }
    button[disabled]{
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
    }
    button[disabled]:hover{
        background-color: #cccccc;
    }
    button:hover{
        @include effect();
        cursor: pointer;
    }
}