
.alert{
    padding: 40px 40px;
    border: none;
    background-color:rgb(10, 10, 10);
    color: rgb(243, 242, 242);
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0.7;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    .closeIcon{
        position: absolute;
        top:10%;
        right:10%;
    }
    .closeIcon:hover{
        cursor: pointer;
    }
}