<div class="outer">
    <div class="logoutButton" (click)="logout()">
        Log out 
        <span><fa-icon [icon]="faSignOutAlt"></fa-icon></span>
    </div>

<div class="layout" *ngIf="isLoggedIn()">
    

    <div *ngIf="isEmpty()" class="todoLayout">
        <h2>No todo items</h2>
    </div>

    <div *ngIf="!isEmpty()" class="todoLayout">     
        <div *ngFor="let item of todoItems;" >
            
                <div class="todoItem">
                    <div class="todoName">
                        {{item.name}}
                        <span class="viewicons">
                            <fa-icon [icon]="faCheckCircle" (click)="onDelete(item)" class="viewicon"></fa-icon>
                            <fa-icon [icon]="faPen" (click)="onSelect(item)" class="viewicon"></fa-icon>
                        </span>
                    </div>
                    <div>
                        {{item.description}}
                    </div>
                    <div class="todoTime">
                        {{item.time | date: 'ccc MMM d, h:mm a'}}
                    </div>
                </div>
           
         </div>
    </div>
  
    <div class="addButton">
        <a (click)="goToAddPage()" >Add Todo Item</a>
    </div>
    


</div>
</div>
