<div class="item">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
        
        <input type="text" placeholder="Name" class="todo-description" formControlName="todoName" #refName>
        <div  *ngIf="userForm.controls['todoName'].hasError('required') && userForm.controls.todoName.dirty" class="alert">
            Please enter the name for the todo item
        </div>
        <div *ngIf="userForm.controls['todoName'].hasError('minlength')" class="alert">
            Please enter the name of more than 4 characters
        </div>
        <div *ngIf="userForm.controls['todoName'].hasError('maxlength')" class="alert">
            Please enter the name of less than 15 character
        </div>
        <textarea placeholder="Description" class="todo-description" rows="8" cols="50" formControlName="todoDescription"></textarea>
        <div  *ngIf="userForm.controls['todoDescription'].hasError('required') && userForm.controls.todoDescription.dirty" class="alert">
            Please enter the description
        </div>
        <input type="datetime-local" class="todo-time" formControlName="todoTime">
        <div  *ngIf="userForm.controls['todoTime'].hasError('required') && userForm.controls.todoTime.touched" class="alert">
            Please select the date and time
        </div>
        <button [disabled]="!userForm.valid" type="submit" class="button">Add item</button>
    </form>
</div>