<div *ngIf="!signInSuccess" class="layout">
    <form [formGroup]= "userForm" (ngSubmit)="onSubmit()">
        <div class="formLayout">
            <img src="../../assets/img/todologo.png" alt="todo logo" width=50 height=50>
            <h1>Sign Up</h1>
            <div class="userForm">
                <div class="formDiv">
                    <label for="username"><b>Name</b></label>
                    <div class="textField">
                        <input type="text" formControlName="username">
                        <div *ngIf="userForm.controls['username'].hasError('required') && userForm.controls.username.dirty" class="alert">
                            <span *ngIf="showNameError"><b>Please enter the name</b></span>
                            <span (mouseover)="showNameError=true" (mouseout)="showNameError=false"><fa-icon [icon]="faExclamationCircle"></fa-icon></span>
                        </div>
                    </div>
                </div>
                <div class="formDiv">
                    <label for="userid"><b>Email Address</b></label>
                    <div class="textField">
                        <input type="email" formControlName="userid" [email]="true">
                        <span *ngIf="userForm.controls['userid'].hasError('required') && userForm.controls.userid.dirty" class="alert">
                            <span *ngIf="showEmailError"><b>Please enter the email</b></span>
                            <span (mouseover)="showEmailError=true" (mouseout)="showEmailError=false"><fa-icon [icon]="faExclamationCircle"></fa-icon></span>
                        </span>
                        <span *ngIf="userForm.controls['userid'].hasError('email') && userForm.controls.userid.dirty" class="alert">
                            <span *ngIf="showEmailError"><b>Please enter valid email</b></span>
                            <span (mouseover)="showEmailError=true" (mouseout)="showEmailError=false"><fa-icon [icon]="faExclamationCircle"></fa-icon></span>
                        </span>
                    </div>
                </div>
                <div class="formDiv">
                    <label for="userpwd"><b>Password</b></label>
                    <div class="textField">
                        <input type="password" formControlName="userpwd">
                        <span *ngIf="userForm.controls['userpwd'].hasError('required') && userForm.controls.userpwd.dirty" class="alert">
                            <span *ngIf="showPwdError"><b>Please set the password</b></span>
                            <span (mouseover)="showPwdError=true" (mouseout)="showPwdError=false"><fa-icon [icon]="faExclamationCircle"></fa-icon></span>
                        </span>
                    </div>
                </div>
                <div class="formDiv">
                    <label for="userpwd"><b>Repeat password</b></label>
                    <div class="textField">
                        <input type="password" formControlName="ruserpwd">
                        <div *ngIf="userForm.controls['ruserpwd'].hasError('required') && userForm.controls.ruserpwd.dirty" class="alert">
                            <span *ngIf="showRpwdError"><b>Please re-enter the password</b></span>
                            <span (mouseover)="showRpwdError=true" (mouseout)="showRpwdError=false"><fa-icon [icon]="faExclamationCircle"></fa-icon></span>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" [disabled]="!userForm.valid">Sign up</button> 
        </div>
    </form>
</div>
<div *ngIf="userExists">
    <app-popup (childEvent)="navigateToLogin()" [text]="userexist"></app-popup>
</div>

<div *ngIf="signInSuccess">
    <app-popup (childEvent)="navigateToLogin()" [text]="signUpSuccess"></app-popup>
</div>

<div *ngIf="pwdmismatch">
    <app-popup (childEvent)="navigateToSelf()" [text]="pwdMismatch"></app-popup>
</div>


