@mixin transition {
    color: whitesmoke;
    border: none;
    border-radius: 4px;
    transition-duration: 0.5s;
}
@mixin effect{
    color: whitesmoke
}

.layout{
    //background-color: rgb(145, 214, 191);
    display: flex;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, #bca1c4 0%, rgb(190, 204, 171) 100%);
    align-items: center;
}
.formLayout{
    padding: 10px 10px 10px 10px;
    background-color: white;
    display: flex;
    
    align-items: center;
    flex-flow: column nowrap;
    font-family:Georgia, 'Times New Roman', Times, serif;

    .formDiv{
        min-width: 320px;
        padding: 10px 10px 10px 10px;
    }
    input[type=text],input[type=email], input[type=password]{
        font-size: 15px;
        padding: 15px 15px;
        width: -webkit-fill-available;
        background-color: whitesmoke;
        border: none;
        margin: 10px 0px 10px 0px;
    }
    label{
        font-size: 20px;
    }
    input[type=text]:focus,input[type=email]:focus, input[type=password]:focus{
        background-color: #e2dddd;
    }
    .textField{
        position: relative;
        display: flex;
    }
    .alert{
        position: absolute;
        right:5%;
        top: 35%;
        border: none;
        color: rgb(175, 9, 9);
    }
    button{ 
        padding: 10px 10px;
        @include transition();
        background-color: #a75509;//#296402;
        font-size: 15px;
    }
    button[disabled]{
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
    }
    button:hover{
        cursor: pointer;
        @include effect();
        background-color: rgb(204, 103, 35);
    }
}